{% extends "layout.html" %}

{% block title %}
Food Menu
{% endblock %}

{% block content %}
<h1 class = "text-center mt-4">Food Menu</h1>
<div class="container row gap-3">
  {% for food in food_items %}
  <div class="card" style="width: 18rem;">
    <img src="{{food.photo.url}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{food.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{food.price}}</h6>
      <p class="card-text">{{food.description}}</p>
      <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}